@import url("./variables.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');
body {
    font-family: 'Raleway', sans-serif !important;
    margin: 0;
    color: var(--text-dark);
}

div {
    box-sizing: border-box;
}

body p {
    font-size: 14px;
    font-family: 'Open Sans';
}

.overlay {
    background-color: var(--overlay);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: var(--z-index-two);
    display: none;
}

.sleek {
    color: var(--white);
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
}

h1, h2 {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 35px;
}

h1 {
    font-weight: 300;
    font-size: 45px;
}

.dash {
    font-size: 2rem;
    margin: 0
}

.dash.muted {
    font-weight: 200;
}

.sleek button {
    border: none;
    background-color: transparent;
    color: var(--white);
    position: relative;
    left: 40px;
    top: 17px;
    cursor: pointer;
}

.sleek>button:hover {
    animation: breath 1s linear infinite;
}

.direction-btns {
    position: relative;
    left: -40px;
    top: 50px;
}

.direction-btns button {
    border: 2px solid var(--white);
    border-radius: 50%;
    padding: 4px 5px;
    transform: rotate(90deg);
    transition: var(--transition);
}

.direction-btns button:last-child {
    border-color: var(--orange);
    color: var(--orange);
    transform: rotate(0deg);
}

.direction-btns button img {
    width: 100%;
    transition: var(--transition);
}

.direction-btns button:hover img {
    transform: scale(0.7);
}

/* .direction-btns button:hover {
    background: linear-gradient(270deg, var(--linear-gradient-1), var(--linear-gradient-1));
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

.bright-orange {
    background: linear-gradient(var(--orange-trans), var(--orange-trans)), url("../assets/images/bg-orange.png");
    background-position: center;
    background-size: cover;
    font-size: 0.9rem;
    /* background: url("../assets/bg-orange.png") var(--orange-trans); */
}

.bright-orange.lower {
    background: linear-gradient(var(--orange-trans), var(--orange-trans)), url("../assets/images/bg-nice.png");
}

.side-orange, .bright-orange-text {
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
    color: var(--text-dark);
}

.side-orange {
    color: var(--white);
    height: fit-content;
}

.text-container {
    background-color: var(--white);
}

.tweet-btn {
    border: none;
    background-color: transparent;
    color: var(--text-muted);
    margin-top: 30px;
    text-decoration: underline;
    cursor: pointer;
    position: relative;
}

.tweet-btn::after, .tweet-btn::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    color: var(--white);
    display: none;
}

.tweet-btn::before {
    content: attr(data-tooltip);
    padding: 10px 20px;
    border-radius: 5px;
    width: max-content;
    background-color: var(--tooltip-bg);
    bottom: 30px;
    transform-origin: bottom center;
}

.tweet-btn::after {
    content: '';
    height: 0;
    width: 0%;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid var(--tooltip-bg);
    bottom: 23px;
    transform-origin: top center;
}

.tweet-btn i {
    display: inline-block;
    margin-right: 15px;
    font-size: 1.2rem;
}

.tweet-btn:hover::before, .tweet-btn:hover::after {
    animation: tooltip .3s ease forwards;
    display: block;
}

.melbourne {
    width: 80%;
    margin: 30px auto;
}

.melbourne-left p:first-child {
    color: var(--text-muted);
    font-size: 18px;
}

/* WORDS and SUCH Section */

.words {
    color: white;
    position: relative;
}

.words-bg {
    background-image: url("../assets/images/bg-words.png");
    height: 300px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.words-header {
    top: calc(300px - var(--words-square-sz-sm));
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.words-woman {
    display: none;
}

.words-title {
    background: linear-gradient(var(--orange-trans), var(--orange-trans)), url("../assets/images/words-woman.png");
    background-position: center;
    background-size: var(--words-square-sz-sm);
    height: var(--words-square-sz-sm);
    width: var(--words-square-sz-sm);
    padding: 1px 30px;
    box-sizing: border-box;
}

.words-title h2 {
    font-size: 40px;
}

.words-content {
    background-color: var(--orange);
    display: flex;
    flex-direction: column;
    padding: 30px 10%;
}

.one-side {
    color: white;
}

/* Take action */

.form {
    background: var(--footer);
    padding: 30px 0;
}

.form-content {
    width: 80%;
    margin: 0 auto;
}

.form-content form>* {
    margin-bottom: 20px;
    height: 50px;
    padding: 0 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-family: "Montserat";
}

.form-content form>*::placeholder {
    color: var(--text-muted);
    font-size: 12px;
}

form button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    transition: var(--transition);
}

form button:hover {
    background-color: white;
    color: var(--footer);
}

/* oh this is nice section */

.nice-bg {
    display: none;
}

@media(min-width: 481px) {
    .overlay.show {
        display: block;
    }
    .melbourne, .bright-orange-text, .side-orange {
        width: 400px;
    }
    .words-content {
        padding: 40px calc(50% - 200px);
    }
    .sidebar-toggler.open {
        left: 90px;
        transform: translateX(-50%);
    }
    aside ul.nav-links {
        align-items: flex-start;
    }
    /* Words and suchs  */
    .words-woman {
        display: inline-block;
    }
    .words-bg {
        height: var(--words-bg-height-sm);
    }
    .words-woman img {
        width: var(--words-square-sz-sm);
        height: var(--words-square-sz-sm);
        object-fit: cover;
    }
    .words-header {
        display: flex;
        top: calc(var(--words-bg-height-sm) - var(--words-square-sz-sm));
    }
    .words-title {
        background: var(--orange);
    }

    .form-content {
        width: 400px;
    }
    
}

@media(min-width: 768px) {
    .sleek {
        width: 420px;
        left: 70px;
        transform: translateX(0);
        top: 300px;
    }
    .side-orange {
        background: var(--orange);
        padding: 20px 30px;
        width: var(--orangecolumn-width-lg);
        height: var(--orangecolumn-height-lg);
        margin: 0;
    }
    .bright-orange {
        position: relative;
        background-size: cover;
        background: linear-gradient(var(--orange-trans-muted), var(--orange-trans-muted)), url("../assets/images/bg-orange.png");
    }
    .bright-orange.lower {
        background: linear-gradient(var(--orange-trans-muted), var(--orange-trans-muted)), url("../assets/images/bg-nice.png");
    }
    .text-container {
        position: absolute;
        bottom: 0;
        left: var(--orangecolumn-width-lg);
        width: calc(100% - var(--orangecolumn-width-lg));
        height: calc(var(--orangecolumn-height-lg) / 2);
    }
    .bright-orange-text {
        margin: 0;
        width: 100%;
        padding: 0 30px;
    }
    .melbourne {
        width: calc(100% - 60px);
        margin: 100px 30px;
    }
    .melbourne-content {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .melbourne h1 {
        width: 100%;
    }
    .melbourne-content>div {
        width: 48%;
    }
    /* Words and suchs  */
    .words-woman {
        display: inline-block;
    }
    .words-bg {
        height: var(--words-bg-height-md);
    }
    .words-woman img {
        width: var(--words-square-sz-md);
        height: var(--words-square-sz-md);
        object-fit: cover;
    }
    .words-header {
        display: flex;
        top: calc(var(--words-bg-height-md) - var(--words-square-sz-md));
        left: var(--words-square-sz-md);
        ;
    }
    .words-title {
        background-size: 250px;
        background: var(--orange);
        height: var(--words-square-sz-md);
        width: var(--words-square-sz-md);
    }
    .words-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 30px;
    }
    .words-title h2 {
        font-size: 45px;
    }
    .words-content>div {
        width: 48%;
    }
    /* Take action form */
    .form-content {
        width: 90%;
        margin-left: 30px;
    }
    .form-content form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .form-content form>* {
        width: 47%;
    }
    .nice-bg {
        height: var(--words-bg-height-md);
        display: block;
        background-image: url("../assets/images/bg-circles.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

@media(min-width: 992px) {
    body {
        position: relative;
    }

    .sleek {
        left: calc(20px + 7%);
        top: 330px;
    }
    .bright-orange {
        width: 90%;
        max-width: 1100px;
    }
    
    .bright-orange.lower {
        bottom: calc(var(--orangecolumn-height-lg) / 2);
    }
    .bright-orange:not(.lower) {
        position: absolute;
        top: 815px;
        right: 0;
        background-position: right -250px bottom 0;
    }
    .bright-orange-text {
        padding-top: 30px;
    }
    .melbourne {
        margin: 380px auto 60px;
        width: calc(100% - 140px);
    }
    /* Words and Such section */
    .one-side {
        width: 90%;
        margin-left: 10%;
    }
    .words-header {
        left: 10%;
        transform: translateX(0);
        top: calc(var(--words-bg-height-lg) - var(--words-square-sz-lg));
    }
    .words-woman img {
        width: var(--words-square-sz-lg);
        height: var(--words-square-sz-lg);
        object-fit: cover;
    }
    .words-bg {
        height: var(--words-bg-height-lg);
    }
    .words-title {
        background-size: 250px;
        background: var(--orange);
        height: var(--words-square-sz-lg);
        width: var(--words-square-sz-lg);
        padding: 50px;
    }
    .words-title h2 {
        font-size: 60px;
    }
    /* take action form  */
    .form-content form {
        display: block;
    }
    .form-content form>* {
        display: inline-block;
        width: 150px;
    }
    .form-content form>input:nth-child(3) {
        width: 200px;
    }
    form button {
        width: 15%;
    }
    /* oh this is nice section */
    .this-nice {
        position: relative;
        height: calc(var(--words-bg-height-lg) + var(--orangecolumn-height-lg) / 2);
    }
    .nice-bg {
        height: var(--words-bg-height-lg);
    }

}

@media(min-width: 1201px) {
    header {
        padding: 50px 7%;
    }

    .melbourne {
        width: calc(86% - 40px);
    }
    .melbourne .melbourne-left {
        width: 56%;
    }
    .melbourne .melbourne-right {
        width: 42%;
    }
    .words-content {
        padding-right: 9%;
    }
}

@media(min-width: 1501px) {
    .bright-orange:not(.lower) {
        right: 7%;
    }    
}

@keyframes breath {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes tooltip {
    0% {
        transform: translateX(-50%) scale(0);
        opacity: 0;
    }
    100% {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
}