header {
    background: linear-gradient(90deg, rgb(0 0 0 / 30%), rgb(86 86 86 / 0%)), url("../assets/images/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .nav-links {
    display: block;
}

nav {
    height: 100px;
    display: none;
    transition: var(--transition-longer);
    z-index: var(--z-index-three);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 50px 0 0 70px;
    box-sizing: border-box;
}

header.float nav {
    background-color: var(--footer);
    box-shadow: 0px 3px 10px -3px var(--box-shadow);
    position: fixed;
    height: 70px;
    box-sizing: border-box;
    padding-top: 5px;
    top: 0;
}

header.float nav li {
    margin-bottom: 0;
}

header.float nav a {
    color: var(--white);
}

header li {
    display: inline-block;
    padding-bottom: 5px;
    transition: var(--transition-shorter);
    margin-bottom: 50px;
}

header a {
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
}

aside {
    width: 100%;
    background-color: var(--orange-transparent);
    height: 100vh;
    padding: 120px 0;
    z-index: var(--z-index-three);
    display: block;
    position: fixed;
    transform: translate(-100%);
    transition: var(--transition);
}

header.sidebar aside {
    transform: translate(0);
}

.nav-brand {
    font-size: 2rem;
    position: absolute;
    right: 3%;
    top: 90px;
    transform: rotate(90deg);
    transition: var(--transition);
    transform-origin: bottom center;
}

.nav-brand span {
    color: var(--orange);
    display: inline-block;
    transform: rotateY(180deg);
}

.nav-item.active, .nav-item:hover {
    border-bottom: 3px solid var(--orange);
}

.sidebar-toggler {
    position: fixed;
    width: 25px;
    height: 30px;
    top: 60px;
    left: 7%;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    transition: var(--transition);
    z-index: var(--z-index-four);
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}

.bar, .cross {
    width: 100%;
    height: 3px;
    display: block;
    border-radius: 4px;
    background-color: var(--sidebar-toggler);
    position: absolute;
    transition: var(--transition);
    opacity: 1;
}

.bar-1 {
    top: 0;
}

.bar-2, .bar-3 {
    top: 10px;
    opacity: 1;
}

.bar-4 {
    top: 20px;
}

header.sidebar .sidebar-toggler .bar-1 {
    transform: rotate(45deg);
    top: 10px;
}

header.sidebar .sidebar-toggler .bar-4 {
    transform: rotate(-45deg);
    top: 10px;
}

header.sidebar .sidebar-toggler .bar-2 {
    transform: translateX(-100%);
    opacity: 0;
}

header.sidebar .sidebar-toggler .bar-3 {
    transform: translateX(100%);
    opacity: 0;
}

.sidebar-toggler:hover {
    transform: scale(1.2);
}

header.sidebar .sidebar-toggler {
    left: 50%;
    transform: translateX(-50%);
}

/* .sidebar-toggler:not(.open):hover .bar {
    transform-origin: center center;
}

.sidebar-toggler:not(.open):hover .bar-1 {
    animation: waves .8s ease infinite forwards;
}

.sidebar-toggler:not(.open):hover .bar-2,
.sidebar-toggler:not(.open):hover .bar-3 {
    animation: waves .8s ease infinite forwards .2s;
}

.sidebar-toggler:not(.open):hover .bar-4 {
    animation: waves .8s ease infinite forwards .4s;
} */

aside .nav-item {
    border-bottom: 3px solid transparent;
}

aside .nav-item.active, aside .nav-item:hover {
    border-bottom: 3px solid var(--black);
}

@media (min-width: 481px) {
    aside {
        width: 180px;
        background-color: var(--orange);
    }
    header li {
        margin-right: 50px;
    }
    header.sidebar .sidebar-toggler {
        left: 90px;
        transform: translateX(-50%);
    }
    aside ul.nav-links {
        align-items: flex-start;
        padding: 20px 30px;
    }
}

@media(min-width: 768px) {
    header {
        padding: 50px;
        height: 1025px;
    }
    nav {
        display: block;
    }
    aside {
        display: none;
    }
    .sidebar-toggler {
        display: none;
    }
    header.float .nav-brand{
        position: fixed;
        transform: rotate(0deg);
        top: 17px;
        right: 70px;
        z-index: var(--z-index-four);
    }
    .overlay, .overlay.show {
        display: none !important;
    }
}

@media (min-width: 992px) {
    header.float .nav-brand {
        right: 70px;
    }
}

@media (min-width: 1201px) {
    header.float .nav-brand {
        right: calc(7% + 20px);
    }
    nav {
        padding-left: calc(7% + 20px);
    }
}

@media (min-width: 1501px) {
    .nav-brand {
        right: 5%
    }
}

/* @keyframes waves {
    0% {
        transform: scaleX(1);
    }

    40% {
        transform: scaleX(1.5);
    }

    80% {
        transform: scaleX(1.2);
    }
    100% {
        transform: scaleX(1);
    }
} */